.bubble-comparison {
    display: block;
    position: relative;
}

.bubble-comparison__bubbles {
    /* display: flex; */
    height: 11rem;
    position: relative;
    display: block;
}

.bubble-comparison__bubble-wrapper {
    width: 100%;
    height: 100%;
}

.bubble-comparison__circle--left {
    transform: translate(-4rem, 0);
}

.bubble-comparison__circle--right {
    transform: translate(4rem, 0);
}

.bubble-comparison__circle {
    display: grid;
    place-items: center;
    position: relative;
    width: 9rem;
    height: 9rem;
    background-color: #7f8595;
    color: var(--c-white);
    border-radius: 100%;
    transition: transform 300ms ease;
}

@media (min-width: 600px) {
    .bubble-comparison__circle {
        width: 10rem;
        height: 10rem;
    }
}

.bubble-comparison__body {
    display: flex;
    align-items: center;
    padding: .5rem;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    justify-content: space-between;
    transform: scale(0);
    animation-name: zoom-in;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.bubble-comparison__body-community {
    text-align: right;
}

.bubble-comparison__body-contribution {
    font-size: .8rem;
}

@keyframes zoom-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.bubble-comparison__body--right {
    right: 0;
}

.bubble-comparison__community {
    left: 2rem;
    position: relative;
}

.bubble-comparison__contribution {
    background-color: var(--c-blue);
    right: 2rem;
    text-align: center;
    top: 0;
}

.bubble-comparison__bubble-community {
    fill: #7f8595;
}

.bubble-comparison__bubble-circle {
    transform-box: fill-box;
    transform-origin: center;
    transition: transform 300ms ease;
}

.bubble-comparison__bubble-text {
    transform-origin: center;
    transform-box: fill-box;
    animation-name: zoom-in;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.bubble-comparison__carbon {
    font-weight: bolder;
    font-size: var(--font--ml);
}

.bubble-comparison__subtitle {
    font-size: var(--font--small);
}

.bubble-comparison__body--inside {
    display: flex;
    flex-direction: column;
}

.bubble-comparison--remove {
    opacity: 0;
}

.bubble-comparison__body--outside {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--c-white);
    position: relative;
    /* padding-left: 4rem; */
}