.charge-input-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  left: 0;
  top: 0;
  transform: translate(0, 0rem);
}

.animate-vertical-slide-reveal {
  animation-name: slide-up;
  animation-fill-mode: forwards;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
}

.animate-vertical-slide-cancel {
  animation-name: slide-up;
  animation-fill-mode: forwards;
  animation-duration: 900ms;
  animation-direction: alternate-reverse;
}

@keyframes slide-up {
  from {
    transform: translate(0, 40rem);
  }

  to {
    transform: translate(0, 0rem);
  }
}

.charge-input-modal::after {
  content: "";
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.192);
  z-index: -1;
  top: 0;
}

.charge-input-modal__date {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--c-white);
  border: solid 0.1rem var(--c-black);
  border-radius: 0.4rem;
  font-family: "Inter";
  font-weight: bold;
  font-size: 1rem;
}

.charge-input-modal__form--modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 var(--s-default);
  height: 70%;
  width: 90%;
  padding: var(--s-default);
  background-color: var(--c-grey--200);
  border-radius: 0.5rem;
}

.charge-input-modal__label {
  width: 100%;
  margin: 0 0.5rem;
}

.charge-input-modal__time {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  font-family: "Inter";
  font-size: 1rem;
  text-align: center;
}

.charge-input-modal__amount-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: var(--s-default);
}

.charge-input-modal__amount {
  padding: var(--s-medium);
  margin-bottom: var(--s-medium);
  text-align: center;
  margin-right: 1rem;
  font-size: 1rem;
}

.charge-input-modal__border--default {
  border: none;
  border-bottom: 1px solid var(--c-dark);
  background-color: var(--c-white);
}

.charge-input-modal__amount-charge {
  display: flex;
  margin: 0.5rem;
}

.charge-input-modal__charge-label {
  grid-column-start: 1;
  grid-column-end: 3;
}

.charge-input-modal__radio-label {
  display: inline-block;
  background-color: var(--c--white);
  border: 0.04rem solid var(--c-grey--400);
  padding: var(--s-medium);
}

.charge-input-modal__radio[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.charge-input-modal__radio:checked+.charge-input-modal__radio-label {
  font-weight: bold;
  border: none;
  background-color: var(--c-green);
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--s-default) 0;
}

.charge-input-modal__link {
  font-size: 0.7rem;
}