.community__header::before {
    height: 20rem;
}

.community__header-body {
    display: flex;
    justify-content: center;
}

.community__header-amount {
    display: block;
    margin-bottom: .5rem;
    font-size: var(--font--medium);
}

.community__header-people::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: .2rem;
    background-color: var(--c-white);
    top: 0;
    right: 0;
}

.community__header-p {
    margin-bottom: 3rem;
    position: relative;
    width: 6rem;
    text-align: center;
    font-size: .8rem;
}

.community__header-padding--left {
    padding-left: var(--s-default);
}

.community__header-padding--right {
    padding-right: var(--s-default);
}

.community__main {
    /* margin-bottom: 0; */
}

.community__distance-title {
    font-size: var(--font--small);
}

.community__distance-body {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: var(--c-grey--title);

}

.community__distance-goal--right {
    text-align: right;
}

.community__distance-goal-value {
    font-weight: bold;
}

.community__profile-image {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    object-fit: cover;
}

.community__members-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    text-align: center;
}

.community__member {
    margin: 0;
    padding-right: .5rem;
}

.community__member-name {
    opacity: 0;
}