.header {
    margin-top: 2rem;
}

.header__carbon:before {
    content: "";
    display: block;
    position: absolute;
    width: 15rem;
    height: 15rem;
    border: 10px solid #ADDFCE;
    border-radius: 10rem;
}