.popup-amount {
    display: grid;
    position: fixed;
    place-content: center;
    height: 100vh;
    width: 100vw;
    color: var(--c-white);
    z-index: 1;
}

.popup-amount__body {
    background-color: #1A1B26;
    padding: var(--s-default);
    position: relative;
    text-align: center;
    width: 18rem;
    z-index: 1;
    border-radius: 1rem;
}

.popup-amount__body::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: url('/img/popup-grass.png');
    border-radius: 0 0 1rem 1rem;
}

.popup-amount::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .7;
}

.popup-amount__subtext {
    color: var(--c-grey--600);
}

.popup-amount__carbon {
    display: block;
    font-weight: bolder;
    color: var(--c-white);
}

.popup-amount__button {
    display: block;
    position: relative;
    margin: var(--s-default) auto;
    width: 2rem;
    height: 2rem;
    border: .15rem solid var(--c-white);
    background-color: transparent;
    border-radius: 1rem;
    z-index: 1;
}

.popup-amount__button::after {
    content: "x";
    color: var(--c-white);
    font-size: 1.4rem;
}