.profile__header {
  background-color: var(--c-dark);
  color: var(--c-white);
  padding: 2rem 1rem;
}

.profile__main {
  margin-top: -2rem;
  background-color: var(--c-white);
  border-radius: 1rem 1rem 0 0;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile__main-title {
  font-size: var(--font--default);
  font-weight: normal;
  margin-bottom: -0.5rem;
}

.profile__trees-wrapper {
  display: block;
  position: relative;
  margin: -1rem;
  padding: 1rem;
}

.profile__trees-header {
  display: flex;
  align-items: flex-start;
}

.profile__subtitle {
  color: var(--c-grey--title);
  font-size: var(--font--small);
  margin-bottom: 2rem;
}

.profile__trees-subtitle {
  color: var(--c-grey--title);
  font-size: .8rem;
  width: 17rem;
}

.profile__select-year {
  width: 8rem;
  border-color: var(--c-grey--300);
  padding: .2rem .5rem;
  margin-left: .4rem;
  border-radius: .2rem;
  color: var(--c-grey--title);
}

.font--highlight {
  color: var(--c-grey--700);
  font-weight: bold;
}

.profile__trees {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  background-color: #e9fbe9;
  border-radius: .5rem 3rem;
}

.profile__tree {
  width: 3rem;
  position: relative;
  margin-right: -.5rem;
  margin-top: -.5rem;
  animation-name: zoom-in;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.profile__equivalence {
  display: block;
  position: relative;
  width: 100%;
}

.profile__equivalence-wrapper {
  display: block;
  width: 100%;
}

.profile__equivalence-row {
  display: flex;
  align-items: center;
  margin-top: var(--s-default);
}

.profile__equivalence-title {
  width: 2.5rem;
}

.profile__equivalence-bar {
  margin: 0 .3rem;
  background: linear-gradient(90deg, #6CEBAF 0%, #88D6D8 100%);
  height: 1.5rem;
  border-radius: .1rem;
}

.profile__equivalence-body {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

.profile__equivalence-body span {
  font-size: var(--font--small);
  color: var(--c-grey--400);
  font-weight: normal;
}

.profile__icon-plane {
  width: 2rem;
  height: 2rem;
}

.profile__icon-car {
  width: 2rem;
}

.profile__icon-train {
  width: 1.7rem;
}

.profile__icon-plane path,
.profile__icon-car path,
.profile__icon-train path {
  fill: var(--c-grey--300);
}