:root {
    --s-default: 1rem;
    --s-medium: .5rem;
    --s-small: .2rem;

    --c-white: #FFF;
    --c-primary: #F59B01;
    --c-secondary: #A4EFBC;
    --c-grey--200: #F7FAFC;
    --c-grey--300: #969696;
    --c-grey--400: #727884;
    --c-grey--500: #444444;
    --c-grey--600: #5B6171;
    --c-grey--700: #4E4E4E;
    --c-dark: #1A1C26;
    --c-green: #5BFCB0;
    --c-blue: #88B2D8;
    
}

.a11y-sr-only {
    overflow: hidden;
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
}

.button-flat {
    border: none;
    background-color: transparent;
}

.flat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.title--small {
    color: var(--c-grey--300);
    margin: calc(var(--s-default / 2)) 0;
}

.box--gray {
    display: block;
    position: relative;
    background-color: var(--c-grey--600);
    height: max-content;
    width: max-content;
}

.button {
    background-color: var(--c-white);
    padding: .5rem;
    color: var(--c-black);
    border-radius: .5rem;
    font-weight: 800;
    border: .05rem solid var(--c-dark);
}

.button--secondary {
    color: var(--c-dark);
    border-bottom: .3rem solid var(--c-green);
}

.button--go {
    display: block;
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    box-shadow: 0 0 0 4px var(--c-grey--400);
}

.button--go::before {
    content: ">";
    display: block;
    position: absolute;
    left: 0;
    text-align: center;
}
