:root {
    --s-default: 1rem;
    --s-medium: .5rem;
    --s-small: .2rem;

    --c-white: #FFF;
    --c-primary: #F59B01;
    --c-secondary: #A4EFBC;
    --c-grey--200: #F7FAFC;
    --c-grey--300: #969696;
    --c-grey--400: #727884;
    --c-grey--500: #444444;
    --c-grey--600: #5B6171;
    --c-grey--700: #4E4E4E;
    --c-dark: #1A1C26;
    --c-green: #5BFCB0;
    --c-blue: #88B2D8;
    --c-grey--title: #7F8595;

    --font--small: .9rem;
    --font--default: 1rem;
    --font--medium: 2rem;
    --font-big: 3rem;

}

.a11y-sr-only {
    overflow: hidden;
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
}

.button-flat {
    border: none;
    background-color: transparent;
}

.flat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.title--small {
    color: var(--c-grey--300);
    margin: calc(var(--s-default / 2)) 0;
}
