@import './components/header-main.css';
@import './components/charge-input.css';
@import './components/compare-carbon.css';
@import './components/recent-charge.css';
@import './components/nav.css';
@import './components/index.css';
@import './base.css';
@import './globals/typography.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
